:root {
    --main-light-blue-green: #99ffd4;
    --main-blue: #2b14ff;
    --main-orange: #ff9147;
    --main-grey: #A8BFD2;
    --other-grey: #f8f8f8;
}

body{
  font-size: 1.05rem;
}

.reportview-container hr{
  margin-top: 10px;
  margin-bottom: 20px;
}

.reportview-container .element-container{
  margin: 0 0 0rem;
}

/* tira o espaco para o header ficar 100% */
.reportview-container .main .block-container {
    padding: 0 0 0 0;
}

.main-orange-span{
  color: var(--main-orange);
}

.button {
  font-size: 20px;
  background-color: var(--main-light-blue-green);
  text-align: center;
  text-decoration: none;
  top: 10px;
  right: 10px;
  border: 1px solid #e6eaf1;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.button:hover{
  border-color:  var(--main-orange);
  color: #ffffff;
  background-color: var(--main-orange);
 /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); */
}


/* HEADER MENU */
.header-menu {
  padding-left:90px;
  padding-right:120px;
}

.header-menu-itens {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 15px;
  font-weight:bold;
}

.header-menu-itens:hover{
  text-decoration: underline;
 /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); */
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}




#navbar {
  overflow: hidden;
  background-color: #EEEEEE;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  color: black;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: var(--main-orange);
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.escola-navbar{
  width: 8rem;
}

/* CONTEUDO */
.conteudo{
	padding-left: 90px;
	padding-right: 120px;
}

/* TITULO PRINCIPAL */
.main-title{
  font-size: 2.5rem;
  color: var(--main-blue);
}

/* TITULOS */
.square{
  width:3rem;
  height:2rem;
  margin-right: 0.3em;
}

.title-section{
  padding-top: 20px;
  font-size: 1.9rem;
  color: var(--main-orange);
  font-family: var(--main-title-font-family);
}

/* TITULO CARD */
.card-title{
  word-break: break-word;
  font-weight:bold;
  color:#ff9147;
  font-size:1.5em;
}


/* ESPECIALISTA */
.card-plan{
  box-shadow: 2px 2px 2px 2px var(--main-grey);
  border-radius:1rem;
  text-decoration: none;
  background: var(--other-grey);
}

.icon{
  width:3rem;
  height:3rem;
}

.left-margin{
  margin-left: 0.5em;
}

.button-position {
  text-align: center;
}

.col {
  min-width: 200px;
  border: none;
  flex: 1 1; /*  Stretching: */
  /*flex: 0 1 250px;/* /*  No stretching: */
}

/* FOOTER */
.logo-footer{
  width:7rem;
}

.escola-footer{
  width:12rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  margin: 1em;
}

/* HEADER */
.hero-bg {
    background-image: url('https://i.imgur.com/RhIe7on.png');
}

.hero-wrapper {
    display: flex;
    flex-direction: row;
    padding-top:20px;
}

.hero-container-content {
    margin-left: 90px;
    display: flex;
    flex-direction: column;
}

.hero-container-corona {
    line-height: 80px;
    font-size: 64px;
    color:#ff9147;
}

.hero-container-product {
    font-weight: bold;
    line-height: 80px;
    font-size: 80px;
    text-transform: uppercase;
    color:#2b14ff;
}

.hero-container-subtitle {
    font-weight: lighter;
    font-size: 36px;
    max-lines: 2;
    color:#2b14ff;
}

.hero-container-image {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    height: 100%;
}

@media only screen and (max-width: 425px) {
    .conteudo{
      padding-right: 30px;
      padding-left: 30px;
    }

    .main-title{
      font-size: 2.0rem;
    }

    .title-section{
      font-size: 1.7rem;
    }

    body{
      font-size: 0.9rem;
    }

    .card-title{
      font-size:1.3em;
    }

    .hero-wrapper {
        flex-direction: column
    }
    
    .hero-container-product {
        font-size: 48px;
        line-height: 50px;
    }

    .hero-container-content {
        margin-left: 20px;
    }

    .hero-container-subtitle {
        margin-top: 0.5rem;
        font-size: 24px;
    }

    .hero-container-corona {
        font-size: 48px;
    }

    .hero-container-image {
        margin-left: auto;
        width: 150px;
        height: 100%;
    }

    .header-menu-itens {
      visibility: hidden;
    }

    .escola-navbar{
      width: 0rem;
    }
}



/* PASSOS TABLE */
.container {
    height: auto;
    margin: 50px auto;
    padding: 0;
    position: relative;
    width: 960px;
}

.grid-container {
    width: 100%;
}
.grid-container .column-one, .grid-container .column-two, .grid-container .column-three, .grid-container .column-four, .grid-container .column-five, .grid-container .column-six, .grid-container .column-seven, .grid-container .column-eight, .grid-container .column-nine, .grid-container .column-ten, .grid-container .column-eleven, .grid-container .column-twelve {
    display: inline-block;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}
.grid-container .column-one {
    width: 6.333%;
}
.grid-container .column-two {
    width: 14.666%;
}
.grid-container .column-three {
    width: 23%;
}
.grid-container .column-four {
    width: 31.333%;
}
.grid-container .column-five {
    width: 39.666%;
}
.grid-container .column-six {
    width: 48%;
}
.grid-container .column-seven {
    width: 56.333%;
}
.grid-container .column-eight {
    width: 64.666%;
}
.grid-container .column-nine {
    width: 73%;
}
.grid-container .column-ten {
    width: 81.333%;
}
.grid-container .column-eleven {
    width: 89.666%;
}
.grid-container .column-twelve {
    width: 98%;
}
.flat-tabs-left {
    margin: 0;
    padding: 0;
    position: relative;
}
.flat-tabs-left input {
    display: none;
    position: absolute;
}
.flat-tabs-left label {
    background-color: #236f9e;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 15px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.4s linear 0s;
    z-index: 1;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.flat-tabs-left label i {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    margin-right: 10px;
    vertical-align: baseline;
}
.flat-tabs-left ul {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
}
.flat-tabs-left ul li {
    background-color: #fff;
    box-sizing: border-box;
    left: 0;
    list-style: none outside none;
    opacity: 0;
    overflow: auto;
    padding: 30px 25px;
    position: absolute;
    top: 0;
    width: 100%;
}
.flat-tabs-left .section-one:checked ~ ul .section-one, .flat-tabs-left .section-four:checked ~ ul .section-four, .flat-tabs-left .section-five:checked ~ ul .section-five, .flat-tabs-left .section-six:checked ~ ul .section-six, .flat-tabs-left .section-seven:checked ~ ul .section-seven,.flat-tabs-left .section-eight:checked ~ ul .section-eight, .flat-tabs-left .section-nine:checked ~ ul .section-nine, .flat-tabs-left .section-ten:checked ~ ul .section-ten, .flat-tabs-left .section-two:checked ~ ul .section-two, .flat-tabs-left .section-three:checked ~ ul .section-three {
    opacity: 1;
    position: relative;
    z-index: 10;
}
.tabs-zoom-in ul li {
    transform: scale(0.5);
    transition: all 0.4s ease-in-out 0s;
}
.tabs-zoom-in .section-one:checked ~ ul .section-one, .flat-tabs-left .section-four:checked ~ ul .section-four, .flat-tabs-left .section-five:checked ~ ul .section-five, .flat-tabs-left .section-six:checked ~ ul .section-six, .flat-tabs-left .section-seven:checked ~ ul .section-seven,.flat-tabs-left .section-eight:checked ~ ul .section-eight, .flat-tabs-left .section-nine:checked ~ ul .section-nine, .flat-tabs-left .section-ten:checked ~ ul .section-ten, .tabs-zoom-in .section-two:checked ~ ul .section-two, .tabs-zoom-in .section-three:checked ~ ul .section-three {
    transform: scale(1);
    transition: all 0.4s ease-in-out 0s;
}
.tabs-zoom-out ul li {
    transform: scale(1.3);
    transition: all 0.4s ease-in-out 0s;
}
.tabs-zoom-out .section-one:checked ~ ul .section-one, .flat-tabs-left .section-four:checked ~ ul .section-four, .flat-tabs-left .section-five:checked ~ ul .section-five, .flat-tabs-left .section-six:checked ~ ul .section-six, .flat-tabs-left .section-seven:checked ~ ul .section-seven,.flat-tabs-left .section-eight:checked ~ ul .section-eight, .flat-tabs-left .section-nine:checked ~ ul .section-nine, .flat-tabs-left .section-ten:checked ~ ul .section-ten, .tabs-zoom-out .section-two:checked ~ ul .section-two, .tabs-zoom-out .section-three:checked ~ ul .section-three {
    transform: scale(1);
    transition: all 0.4s ease-in-out 0s;
}
.tabs-flip ul li {
    transform: rotateY(-90deg) scale(1);
    transition: all 0.4s ease-in-out 0s;
}
.tabs-flip .section-one:checked ~ ul .section-one, .flat-tabs-left .selection-four:checked ~ ul .selection-four, .flat-tabs-left .selection-five:checked ~ ul .selection-five, .flat-tabs-left .selection-six:checked ~ ul .selection-six, .flat-tabs-left .selection-seven:checked ~ ul .selection-seven,.flat-tabs-left .selection-eight:checked ~ ul .selection-eight, .flat-tabs-left .selection-nine:checked ~ ul .selection-nine, .flat-tabs-left .selection-ten:checked ~ ul .selection-ten, .tabs-flip .section-two:checked ~ ul .section-two, .tabs-flip .section-three:checked ~ ul .section-three {
    transform: rotateY(0deg) scale(1);
    transition: all 0.4s ease-in-out 0s;
}
.tabs-slide-left ul li {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.4s ease-in-out 0s;
}
.tabs-slide-left .section-one:checked ~ ul .section-one, .flat-tabs-left .selection-four:checked ~ ul .selection-four, .flat-tabs-left .selection-five:checked ~ ul .selection-five, .flat-tabs-left .selection-six:checked ~ ul .selection-six, .flat-tabs-left .selection-seven:checked ~ ul .selection-seven,.flat-tabs-left .selection-eight:checked ~ ul .selection-eight, .flat-tabs-left .selection-nine:checked ~ ul .selection-nine, .flat-tabs-left .selection-ten:checked ~ ul .selection-ten, .tabs-slide-left .section-two:checked ~ ul .section-two, .tabs-slide-left .section-three:checked ~ ul .section-three {
    opacity: 1;
    transform: translateX(0%);
    transition: all 0.4s ease-in-out 0s;
}
.tabs-slide-right ul li {
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.4s ease-in-out 0s;
}
.tabs-slide-right .section-one:checked ~ ul .section-one, .flat-tabs-left .selection-four:checked ~ ul .selection-four, .flat-tabs-left .selection-five:checked ~ ul .selection-five, .flat-tabs-left .selection-six:checked ~ ul .selection-six, .flat-tabs-left .selection-seven:checked ~ ul .selection-seven,.flat-tabs-left .selection-eight:checked ~ ul .selection-eight, .flat-tabs-left .selection-nine:checked ~ ul .selection-nine, .flat-tabs-left .selection-ten:checked ~ ul .selection-ten, .tabs-slide-right .section-two:checked ~ ul .section-two, .tabs-slide-right .section-three:checked ~ ul .section-three {
    opacity: 1;
    transform: translateX(0%);
    transition: all 0.4s ease-in-out 0s;
}
.tabs-slide-up ul li {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.4s ease-in-out 0s;
}
.tabs-slide-up .section-one:checked ~ ul .section-one, .flat-tabs-left .selection-four:checked ~ ul .selection-four, .flat-tabs-left .selection-five:checked ~ ul .selection-five, .flat-tabs-left .selection-six:checked ~ ul .selection-six, .flat-tabs-left .selection-seven:checked ~ ul .selection-seven,.flat-tabs-left .selection-eight:checked ~ ul .selection-eight, .flat-tabs-left .selection-nine:checked ~ ul .selection-nine, .flat-tabs-left .selection-ten:checked ~ ul .selection-ten, .tabs-slide-up .section-two:checked ~ ul .section-two, .tabs-slide-up .section-three:checked ~ ul .section-three {
    opacity: 1;
    transform: translateY(0%);
    transition: all 0.4s ease-in-out 0s;
}
.tabs-slide-down ul li {
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.4s ease-in-out 0s;
}
.tabs-slide-down .section-one:checked ~ ul .section-one, .flat-tabs-left .selection-four:checked ~ ul .selection-four, .flat-tabs-left .selection-five:checked ~ ul .selection-five, .flat-tabs-left .selection-six:checked ~ ul .selection-six, .flat-tabs-left .selection-seven:checked ~ ul .selection-seven,.flat-tabs-left .selection-eight:checked ~ ul .selection-eight, .flat-tabs-left .selection-nine:checked ~ ul .selection-nine, .flat-tabs-left .selection-ten:checked ~ ul .selection-ten, .tabs-slide-down .section-two:checked ~ ul .section-two, .tabs-slide-down .section-three:checked ~ ul .section-three {
    opacity: 1;
    transform: translateY(0%);
    transition: all 0.4s ease-in-out 0s;
}
.tabs-fall ul li {
    opacity: 0;
    transform: translateY(50%) rotate(20deg);
    transition: all 0.4s ease-in-out 0s;
}
.tabs-fall .section-one:checked ~ ul .section-one, .flat-tabs-left .selection-four:checked ~ ul .selection-four, .flat-tabs-left .selection-five:checked ~ ul .selection-five, .flat-tabs-left .selection-six:checked ~ ul .selection-six, .flat-tabs-left .selection-seven:checked ~ ul .selection-seven,.flat-tabs-left .selection-eight:checked ~ ul .selection-eight, .flat-tabs-left .selection-nine:checked ~ ul .selection-nine, .flat-tabs-left .selection-ten:checked ~ ul .selection-ten, .tabs-fall .section-two:checked ~ ul .section-two, .tabs-fall .section-three:checked ~ ul .section-three {
    opacity: 1;
    transform: translateY(0%) rotate(0deg);
    transition: all 0.4s ease-in-out 0s;
}
.tabs-fade ul li {
    opacity: 0;
    transition: all 1s ease-in-out 0s;
}
.tabs-fade .section-one:checked ~ ul .section-one, .flat-tabs-left .selection-four:checked ~ ul .selection-four, .flat-tabs-left .selection-five:checked ~ ul .selection-five, .flat-tabs-left .selection-six:checked ~ ul .selection-six, .flat-tabs-left .selection-seven:checked ~ ul .selection-seven,.flat-tabs-left .selection-eight:checked ~ ul .selection-eight, .flat-tabs-left .selection-nine:checked ~ ul .selection-nine, .flat-tabs-left .selection-ten:checked ~ ul .selection-ten, .tabs-fade .section-two:checked ~ ul .section-two, .tabs-fade .section-three:checked ~ ul .section-three {
    opacity: 1;
    transition: all 1s ease-in-out 0s;
}
.tabs-rotate ul li {
    transform: rotateX(-360deg);
    transition: all 1s ease-in-out 0s;
}
.tabs-rotate .section-one:checked ~ ul .section-one, .flat-tabs-left .selection-four:checked ~ ul .selection-four, .flat-tabs-left .selection-five:checked ~ ul .selection-five, .flat-tabs-left .selection-six:checked ~ ul .selection-six, .flat-tabs-left .selection-seven:checked ~ ul .selection-seven,.flat-tabs-left .selection-eight:checked ~ ul .selection-eight, .flat-tabs-left .selection-nine:checked ~ ul .selection-nine, .flat-tabs-left .selection-ten:checked ~ ul .selection-ten, .tabs-rotate .section-two:checked ~ ul .section-two, .tabs-rotate .section-three:checked ~ ul .section-three {
    transform: rotateX(360deg);
    transition: all 1s ease-in-out 0s;
}
.flat-tabs-green input:checked + label {
    background-color: #a7be38;
}
.flat-tabs-green ul li {
    border-top: 5px solid #a7be38;
}
.flat-tabs-blue input:checked + label {
    background-color: #618da1;
}
.flat-tabs-blue ul li {
    border-top: 5px solid #618da1;
}
.flat-tabs-orange input:checked + label {
    background-color: #de5f41;
}
.flat-tabs-orange ul li {
    border-top: 5px solid #de5f41;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
.container {
    width: 768px;
}
.flat-tabs-left label {
    border-bottom: 1px solid #1c2027;
    border-top: 1px solid #343e4d;
    width: 768px;
}
.flat-tabs-green input:checked + label {
    border-bottom: 1px solid #a7be38;
    border-top: 1px solid #a7be38;
}
.flat-tabs-blue input:checked + label {
    border-bottom: 1px solid #618da1;
    border-top: 1px solid #618da1;
}
.flat-tabs-orange input:checked + label {
    border-bottom: 1px solid #de5f41;
    border-top: 1px solid #de5f41;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {
    width: 420px;
}
.flat-tabs-left label {
    border-bottom: 1px solid #1c2027;
    border-top: 1px solid #343e4d;
    width: 420px;
}
.flat-tabs-green input:checked + label {
    border-bottom: 1px solid #a7be38;
    border-top: 1px solid #a7be38;
}
.flat-tabs-blue input:checked + label {
    border-bottom: 1px solid #618da1;
    border-top: 1px solid #618da1;
}
.flat-tabs-orange input:checked + label {
    border-bottom: 1px solid #de5f41;
    border-top: 1px solid #de5f41;
}
.grid-container .column-one, .grid-container .column-two, .grid-container .column-three, .grid-container .column-four, .grid-container .column-five, .grid-container .column-six, .grid-container .column-seven, .grid-container .column-eight, .grid-container .column-nine, .grid-container .column-ten, .grid-container .column-eleven, .grid-container .column-twelve {
    width: 98%;
}
}
@media only screen and (max-width: 479px) {
.container {
    width: 300px;
}
.flat-tabs-left label {
    border-bottom: 1px solid #1c2027;
    border-top: 1px solid #343e4d;
    width: 300px;
}
.flat-tabs-green input:checked + label {
    border-bottom: 1px solid #a7be38;
    border-top: 1px solid #a7be38;
}
.flat-tabs-blue input:checked + label {
    border-bottom: 1px solid #618da1;
    border-top: 1px solid #618da1;
}
.flat-tabs-orange input:checked + label {
    border-bottom: 1px solid var(--main-orange);
    border-top: 1px solid var(--main-orange);
}
.grid-container .column-one, .grid-container .column-two, .grid-container .column-three, .grid-container .column-four, .grid-container .column-five, .grid-container .column-six, .grid-container .column-seven, .grid-container .column-eight, .grid-container .column-nine, .grid-container .column-ten, .grid-container .column-eleven, .grid-container .column-twelve {
    width: 98%;
}
}







