@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* import for each component*/

:root {
    --main-title-font-family: 'Poppins', sans-serif;
    --main-subtitle-font-family: 'Roboto Condensed', sans-serif;
    --main-text-font-family: 'Roboto Condensed', sans-serif;
    --main-blue: #2b14ff;
    --main-orange: #ff9147;
    --main-light-blue: #99ffd4;
    --main-blue-green: #4aeba8;
    --main-grey: #5a5a5a;
    --main-primary: #0097A7;
    --main-dark: #3E758A;
    --main-light: #3b4e50;
    --main-grey: #A8BFD2;
    --main-magenta: #fffbfa;
    --main-white: #fff;
    --main-black: #252729;
    --main-primary-bg: #0096a70c;
    --main-margin: 2em;
    --main-item-margin: 1em;
    --main-padding: 2em;
    --minor-padding: 0.5em;

}

.main-blue-span{
  color: var(--main-blue);
}
.main-orange-span{
  color: var(--main-orange);
}
.main-grey-span{
  color: var(--main-grey);
}
.main-light-blue-green-span{
  color: var(--main-light-blue);
}


.primary-span{
  color: var(--main-primary);
}
.dark-span{
  color: var(--main-dark);
}
.light-span{
  color:var(--main-magenta);
}

.dark-blue-bg{
  background: #4CC0CC;
}
.primary-blue-bg{
  background: #56C6D1;
}
.card-dark-bg{
  background: #AAE0EB;
}
.light-blue-green-bg{
  background: var(--main-blue-green);
}
.lighter-blue-green-bg{
  background: var(--main-light-blue);

}

.uppercase{
  text-transform: uppercase;
}

.bold{
  font-weight: bold;
}

/*images*/
.images{
  width:50%;
}

/*padding*/

.main-padding{
  padding-top: var(--main-padding);
}

.minor-padding{
  padding-top: var(--minor-padding);
}

/* margin*/

.left-margin{
  margin-left: 0.5em;
}

/*responsividade*/
.container {
    width: 100%;
    padding-right: 10px;
    padding-left: 0px;
    margin-right: 0;
    margin-left: 0;
    font-family: var(--main-text-font-family);
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
    .streamlit-expander{
      max-width: 540px;
    } 
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
    .streamlit-expander{
      max-width: 720px;
    } 
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
    .streamlit-expander{
      max-width: 960px;
    } 
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
    .streamlit-expander{
      max-width: 1140px;
    } 
  }

  /* default streamlit */
  .reportview-container .main .block-container{
    flex: 1 1;
    max-width: 730px;
    width: 100%;
    padding: 1rem 4rem 1rem;
    box-sizing: border-box;
  }

  .streamlit-expanderHeader{
    background-color:var(--main-orange);
    color: var(--main-white);
    font-weight: bold;
    width: 200px;
    border: solid;
    border-radius: 0.7rem;
  }

  .stSelectbox{
    width:150px;
  }

  .st-cq{
    border-top-style: none;
  }
  
  .st-cl{
    -webkit-box-align: center;
    align-items: center;
  }

  .st-cw:hover {
    border-bottom-color: var(--main-light-blue);
  }
  


.st-ea:hover {
  border-bottom-color: var(--main-light-blue);
}
.st-e9:hover {
  color:  var(--main-white);
}

.streamlit-expanderHeader:hover{
  color:  var(--main-white);
  fill: var(--main-light-blue);
}

.st-cm:hover {
  border-bottom-color:  var(--main-light-blue);
}

/*HEAD SECTION*/

.logo-link {
    text-decoration: none  !important;
}

.logo-image{
  width: 30rem;
}

.logo-header{
    font-size: 28px;
    font-family: var(--main-title-font-family);
    color: var(--main-orange);
}

.text-padding{
    padding-bottom: 10px;
}

.hero-container-content {
    margin-left: 3em;
    display: flex;
    flex-direction: column;
}

.hero-container-product {
    font-family: var(--main-title-font-family);
    font-size: 80px;
    font-weight: bold;
    line-height: 4rem;
    animation-name: fadein;
    animation-duration: 4s;
}

.hero-container-subtitle {
    font-family: var(--main-subtitle-font-family);
    font-weight: lighter;
    font-size: 24px;
    max-lines: 2;
    
}

.hero-container-question {
  font-family: var(--main-subtitle-font-family);
  font-weight: lighter;
  line-height: 1.6;
  font-size: 30px;
  text-align: center;
}
.hero-container-image {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    height: 100%;
}

/* columns */
.row {
  /*grid-auto-flow: column;
  display: grid;
  gap: 5%;*/
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

.col {
  border: none;
  flex: 1 1; /*  Stretching: */
  /*flex: 0 1 250px;/* /*  No stretching: */
}

.two-cols-icon-text {
  display: grid;
  grid-template-columns: minmax(120px, 50%) 1fr;
  margin: 0.5em;
  justify-content: space-between;
}

.two-cols-checkbox {
  display: grid;
  grid-template-columns: minmax(15px, 15%) 1fr;
  margin: 0.5em;
  justify-content: space-between;
  place-items: center;
}

.grid-container-simulation-type {
  display: grid;
  grid-template-columns:0.2fr 0.3fr 1.7fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  /*place-items: center;*/

}
.grid-container-simulation-material{
  display: grid;
  grid-template-columns: 0.2fr 0.3fr 1.7fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid-container-verification {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  }
  
.div1-verification { grid-area: 1 / 1 / 2 / 2; }
.div2-verification { grid-area: 1 / 2 / 2 / 3; }
.div1 { 
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  place-items: center;
}
.div2 { grid-area: 1 / 2 / 2 / 3; }

.div3 { 
  grid-area: 1 / 3 / 2 / 4; 
  display: flex;
  align-items: center;}

.div4 { grid-area: 2 / 1 / 3 / 2; }
.div5 { grid-area: 2 / 2 / 3 / 3; }
.div6 { 
  grid-area: 2 / 3 / 3 / 4; 
  display: flex;
  align-items: center;
}

/*icons*/
.icon{
  width:3rem;
  height:3rem;
}

.icon-cards{
  width:2rem;
  height:2rem;
}

.square{
  width:3rem;
  height:2rem;
  margin-right: 0.3em;
}

.logo-footer{
  width:10rem;
}

/*sections*/
.text-title-section{
  font-family: var(--main-title-font-family);
  font-size: 24px;
  font-weight: bold;
  color: var(--main-orange);
}

.text-intro{
  background-color: var(--main-primary-bg);
}

.text-subdescription{
  font-size: 1rem;
}

.title-section{
  font-size: 36px;
  font-weight: bold;
  color: var(--main-blue);
  font-family: var(--main-title-font-family);
  padding: 5px 10px 5px 10px;
}

.subtitle-section{
  font-size: 24px;
  color: var(--main-orange);
  font-family: var(--main-subtitle-font-family);
  letter-spacing: 0.7px;
  font-weight: bold;
  padding: 5px 10px 5px 0px;
}

.text-title-footer{
  display: grid;
  font-family: var(--main-title-font-family);
  font-size: 24px;
  font-weight: bold;
  color: var(--main-orange);
  place-items: center;
}

.card-title-section{
  font-size: 20px;
  /*font-family: var(--main-title-font-family);*/
  font-weight: bold;
}
.text-small{
  font-size: 12px;
}

/* cards */
.card-simulator{
  border-radius: 1rem;
  padding: 10px 10px 10px 10px;
}

.card-number{
  font-size: 2rem;
  font-weight: bold;
  color: var(--main-orange);
}

.div-logo-footer{
  display: grid;
  place-items: center;
}

/* button */
.reportview-container .markdown-text-container a {
  color:var(--main-orange);
}

/*img*/
.img-forms{
  max-height: 100%;
  width: auto;
  max-width: 100%;
  background: transparent no-repeat center;
  background-size: cover;
}

.info-btn{	/*img*/
  border: 1px solid var(--main-white);	.img-forms{
  box-sizing: border-box;	  max-height: 100%;
  border-radius: 15px;	  width: auto;
  width: 150px;	  max-width: 100%;
  padding: 0.5em;	  background: transparent no-repeat center;
  text-transform: uppercase;	  background-size: cover;
  font-family: var(--main-subtitle-font-family);	
  background-color: var(--main-primary);	
  font-weight: bold;	
  text-align: center;	
  text-decoration: none;	
  font-size: 18px;	
  animation-name: fadein;	
  animation-duration: 3s;	
  margin-top: 1.5em;	
}	

.info-btn:hover {	
  background-color: var(--main-dark);	
  text-decoration: none;	
} 
